<section class="container-fluid">
  <div class="row">
    <div class="col-sm-12 col-sm-offset-1">
      <div ng-repeat="item in content track by $index">
        <div class="clearfix" ng-if="$index % 5 == 0"></div>
        <div class="col-sm-2">
          <div class="thumbnail">
            <img ng-src="{{item.imagePath}}" height="200px" width="200px">
            <div class="caption">
              <div>{{item.name}}</div>
              <star-rating ng-model="item.rating" ng-click="updateRating(item)"></star-rating>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
